@import url('https://fonts.googleapis.com/css2?family=Kalam:wght@300;400;700&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

body {
  margin: 0;
  padding: 0;
  /* background-color: #a379fc;
  background: linear-gradient(to left, #75757a, #a379fc); */
  font-size: 1.2rem;
  /* min-height: 4000px; */
}

/* Navbar */
.mynavbar {
  background-color: rgba(255, 255, 255, 0.3) !important;
  backdrop-filter: blur(4px);
  font-family: 'Kalam', cursive;
  font-weight: 600;
  font-style: normal;
}

.mynavbar .offcanvas {
  height: 100vh;
}

.mynavbar .navbar-brand,
.mynavbar .offcanvas-title {
  font-size: 2.2rem;
  font-family: 'Ubuntu', sans-serif;
  font-weight: 700;
  font-style: normal;
}

.mynavbar .nav-link {
  text-transform: uppercase;
}
/* End Navbar */

/* Home */
.home {
  font-family: 'Ubuntu', cursive;
  font-weight: 400;
  font-style: normal;
  background-color: #f7eedd;
  background-size: cover;
  min-height: 100vh;
  margin-top: -6rem;
  padding-top: 15rem;
  padding-bottom: 5rem;
}

.home h1 {
  font-family: 'Kalam', cursive;
  font-weight: 800;
  font-style: normal;
}

.home h2 {
  letter-spacing: 10px;
  color: #444;
  font-size: 1.5rem;
  margin-bottom: 1rem;
}

.home h3 {
  font-size: 3.2rem;
}

.left,
.right {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 500px;
  height: 500px;
}

.left {
  flex-direction: column;
}
/* End Home */

/* Categories */
.card {
  height: 400px !important;
  overflow-y: hidden;
}
.categories {
  display: flex;
  justify-content: center;
  text-align: center;
  font-family: 'Ubuntu', cursive;
  font-weight: 400;
  font-style: normal;
  /* background-color: #fbab7e;
  background-image: linear-gradient(62deg, #fbab7e 0%, #f7ce68 100%); */
  background-color: #cdc3af;
  background-size: cover;
  min-height: 100vh;
  margin-top: -3rem;
  padding-top: 15rem;
  padding-bottom: 5rem;
}

.categories h1 {
  font-weight: 800;
  margin-bottom: 20px;
}

.categories h2 {
  /* margin-top: -9rem; */
  letter-spacing: 10px;
  margin-bottom: 50px;
}
/* End Categories */

/* Courses */
.courses {
  display: flex;
  justify-content: center;
  text-align: center;
  font-family: 'Ubuntu', cursive;
  font-weight: 400;
  font-style: normal;
  background-color: #e0d2b7;
  background-size: cover;
  min-height: 100vh;
  margin-top: -3rem;
  padding-top: 15rem;
  padding-bottom: 5rem;
}

.courses h1 {
  font-weight: 800;
  margin-bottom: 20px;
}

.courses h2 {
  margin-top: -9rem;
  letter-spacing: 10px;
  margin-bottom: 50px;
}
/* End Courses */

/* Teachers */
.teachers {
  display: flex;
  justify-content: center;
  text-align: center;
  font-family: 'Ubuntu', cursive;
  font-weight: 400;
  font-style: normal;
  background-color: #ddd9d1;
  background-size: cover;
  min-height: 100vh;
  margin-top: -3rem;
  padding-top: 15rem;
  padding-bottom: 5rem;
}

.teachers h1 {
  font-weight: 800;
  margin-bottom: 20px;
}

.teachers h2 {
  margin-top: -9rem;
  letter-spacing: 10px;
  margin-bottom: 50px;
}

.card {
  transition: 300ms;
  box-shadow: 5px 5px 10px 2px salmon;
}

.card:hover {
  transform: scale(0.95);
  box-shadow: 5px 5px 10px 2px white;
}

/* End Teachers */

/* Footer */
footer {
  padding: 3rem;
  background-color: #ffc0cb;
  color: white;
}

footer a {
  color: #32a8a2;
  font-weight: bold;
  text-decoration: none;
}

footer a:hover {
  color: white;
}

footer li {
  list-style: none;
  display: inline;
  margin: 0.5rem;
}
/* End Footer */
